*
/Applications/
/Desktop/
/Developer/
/Documents/
/Downloads/
/IdeaProjects/
/Library/
/Movies/
/Music/
/Pictures/
/RiderProjects/

!.zshrc
!.zshenv
!.zprofile
!.zlogin
!.p10k.zsh
!.gitconfig
!.gitignore
!.profile
!.README.md